*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #FFEAE5;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
}
